body {
  background: rgba(254, 220, 113, 1);
}

h1 {
  color: #393939;
  margin: 30px;
  font-family: "IBM Plex Serif", serif;
  font-family: "Lora", serif;
  font-family: "Old Standard TT", serif;
}

.Calculadora {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #6e4c0d;
  width: 425px;
  height: 500px;
  border-radius: 20px;
}

.text-container {
  background-color: white;
  width: 90%;
  height: 20%;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start; /* Alinhe as linhas no início */
  width: 100%;
  height: 75%;
  padding: 10px; /* Adicione um pouco de espaço interno para os botões */
}

.btn {
  margin: 10px;
  color: #ecf0f1;
  font-size: 20px;
  background-color: #e67e22;
  border: 1px solid #f39c12;
  border-radius: 5px;
  padding: 10px 15px; /* Ajuste o padding para largura e altura iguais */
  width: 60px; /* Defina uma largura fixa para todos os botões */
  box-shadow: 0px 6px 0px #d35400;
  transition: all 0.1s;
}

.btn:active {
  box-shadow: 0px 2px 0px #d35400;
  position: relative;
  top: 2px;
}

.equal,
.delete {
  padding: 10px 15px; /* Ajuste o padding para largura e altura iguais */
  width: 140px; /* Defina uma largura fixa para todos os botões */
}

.operation,
.delete {
  background-color: #ffa500;
  box-shadow: 0px 6px 0px #be7c00;
}

.operation:active,
.delete:active {
  box-shadow: 0px 2px 0px #be7c00;
  position: relative;
  top: 2px;
}

.equal {
  border: 1px solid #1c1c1c;
  background-color: #1c1c1c;
  box-shadow: 0px 6px 0px #393939;
}

.equal:active {
  box-shadow: 0px 2px 0px #393939;
  position: relative;
  top: 2px;
}

.text-container span {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 90%;
  font-size: 2em;
  font-family: "Lora", serif;
  font-family: "Old Standard TT", serif;
}

.button-name {
  margin-left: 30px;
  align-items: center;
  appearance: none;
  background-color: #6e4c0d;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,
    rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #926d29 0 -3px 0 inset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-name:focus {
  box-shadow: white 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, white 0 -3px 0 inset;
}

.button-name:hover {
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px,
    rgba(45, 35, 66, 0.2) 0 7px 13px -3px, white 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-name:active {
  box-shadow: white 0 3px 7px inset;
  transform: translateY(2px);
}
